
:root {
    --main-head: #000;
    --sub-body: #fff;
    --beak: rgb(238, 104, 14);
    --arms: #000;
    --legs: rgb(238, 104, 14);
}


body {
    background-color: rgb(228, 222, 222);
}

.container {
    width: 350px;
    height: 300px;
    margin: 0 auto;
}

.main-head {
    width: 40%;
    height: 40%;
    margin: 80px auto;
    background-color: var(--main-head);
    position: relative;
    border-radius: 100% 100% 50% 50%;
    z-index: 2;;
}

.sub-body {
    width: 140%;
    height: 220%;
    margin: 80px auto;
    background-color: var(--main-head);
    position: absolute;
    border-radius: 100% 100% 40% 40%;
    top: 12%;
    left: -20%;
    z-index: 1;
}

.sub-body::after {
    content: '';
    width: 70%;
    height: 70%;
    margin: 80px auto;
    background-color: var(--sub-body);
    position: absolute;
    border-radius: 100% 100% 50% 50%;
    top: -10px;
    left: 15%;
}

.hair {
    width: 30%;
    height: 25%;
    position: absolute;
    z-index: 0;
    background-color: var(--main-head);
    left: 35%;
    top: -20%;
    clip-path: polygon(34% 39%, 69% 81%, 70% 45%, 100% 100%, 0 100%, 1% 35%, 22% 79%);   
}

.left-eye {
    width: 15%;
    height: 20%;
    background-color: var(--sub-body);
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    left: 18%;
    top: 40%;
}

.left-eye::after {
    content: '';
    width: 70%;
    height: 75%;
    background-color: var(--main-head);
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    left: 15%;
    top: 30%;
}

.right-eye {
    width: 15%;
    height: 20%;
    background-color: var(--sub-body);
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    right: 18%;
    top: 40%;
}

.right-eye::after {
    content: '';
    width: 70%;
    height: 75%;
    background-color: var(--main-head);
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    right: 15%;
    top: 30%;
}

.beak { 
    position: absolute;
    width: 20%;
    height: 15%;
    z-index: 2;
    background-color: var(--beak);
    border-radius: 100% 20% 100% 20%;
    top: 58%;
    left: 40%;;
    transform: rotate(30deg);
    z-index: 3;
    border: 1px solid black;
} 

.beak::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 100%;
    z-index: 2;
    background-color: var(--beak);
    border-radius: 100% 20% 100% 20%;
    top: 30%;
    left: 10%;;
    transform: rotate(0deg);
    z-index: -2;
    border: 1px solid black;
}

 .left-arm {
    width: 45%;
    height: 110%;
    background-color: var(--arms);
    position: absolute;
    left: -44%;
    top: 97%;
    z-index: -1;
    border-radius: 0 100% 0% 0;
    transform: rotate(240deg);
} 

 .right-arm {
    width: 44%;
    height: 110%;
    background-color: var(--arms);
    position: absolute;
    right: -45%;
    top: 97%;
    z-index: -1;
    border-radius: 100% 0 0% 0;
    transform: rotate(-240deg);
} 

.left-foot {
    width: 35%;
    height: 25%;
    background-color: var(--legs);
    position: absolute;
    left:-5%;
    top: 285%;
    z-index: 2;
    border-radius: 100% 100% 40% 40%;
} 

.right-foot {
    width: 35%;
    height: 25%;
    background-color: var(--legs);
    position: absolute;
    right: -5%;
    top: 285%;
    z-index: 2;
    border-radius: 100% 100% 40% 40%;
} 

